<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ifrs"
        tools:targetApi="31">
        <activity
            android:name=".SelectionProcess"
            android:exported="false" />
        <activity
            android:name=".ScolarshipsDetails"
            android:exported="false" />
        <activity
            android:name=".Opportunities"
            android:exported="false" />
        <activity
            android:name=".ComplementaryActivities"
            android:exported="false" />
        <activity
            android:name=".TransportsCompanys"
            android:exported="false" />
        <activity
            android:name=".FreePass"
            android:exported="false" />
        <activity
            android:name=".Transports"
            android:exported="false" />
        <activity
            android:name=".ListCourses"
            android:exported="false" />
        <activity
            android:name=".InfoScreen"
            android:exported="false" />
        <activity
            android:name=".AgroScreen"
            android:exported="false" />
        <activity
            android:name=".AdmScreen"
            android:exported="false" />
        <activity
            android:name=".CoursesIntegrated"
            android:exported="false" />
        <activity
            android:name=".ModalitiesOffered"
            android:exported="false" />
        <activity
            android:name=".modalities_offered"
            android:exported="false" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>